* {
    outline: none;
}

nav {
    height: 6vh;
    font-size: 2vh;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

img {
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.form-label {
    color: rgb(255, 255, 255);
    font-size: 3vh;
}

.form {
    padding: 10px;
    border-radius: 5px;
}

h1 {
    color: #fff;
    position: absolute;
    top: 0;
    margin-left: 40%;
    margin-top: 10vh;
}

.btn {
    font-size: 2.5vh;
}

.contact {
    position: absolute;
    height: 60vh;
    margin-left: 200px;
    bottom: 10vh;
}

.icon {
    padding: 5vh;
    cursor: pointer;
}

footer {
    padding: 10px;
    width: 98.75vw;
    margin-top: 5vh;
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
}

@media only screen and (max-width: 1700px) {
    body{
        background: linear-gradient(to right, #000046, #1cb5e0); 
    }
    img {
        display: none;
    }

    .me-2 {
        display: none;
    }

    .icon {
        padding: 2vw;
    }
    footer {
        position: absolute;
        bottom: -200px;
        width: 100vw;
    }
}

@media only screen and (max-width: 976px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .contact {
        margin-left: 10vw;
    }
}